// fonts
$lead_title_font_stack:effra_lightregular;
$font-family-base: 'Raleway', sans-serif;

// size
$lead_title_font_size:45px;

// color
$main_bg_color: #171201;
$emerald_bg_color: #3FC380;
$gossip_bg_color: #87D37C;
$green_primary_color: #00B16A;
$black_primary_color: #333;
$white_color: #fff;