// fonts
$lead_title_font_stack:effra_lightregular;
$font-family-base: 'Raleway', sans-serif;

// size
$lead_title_font_size:45px;

// color
$main_bg_color: #171201;
$emerald_bg_color: #3FC380;
$gossip_bg_color: #87D37C;
$green_primary_color: #00B16A;
$green_body_primary_color: #E6FDE5;
$soft_green_primary_color: #71bbb4;
$text_green_primary_color: #107673;
$black_primary_color: #333;
$semi_black_primary_color: #4a4f6a;
$coklat_primary_color: #C39B5E;
$white_color: #fff;