// @import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
@import "bootstrap";
@import "font-awesome";
@import "variables_style";

body {
    background-color: $green_body_primary_color;
}


// 1st floor
.floor-1 {
	#particles-js{
		width: 100%;
		/*height: 100%;*/
		background-color: $main_bg_color;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
    h1.home-lead {
        color: $white_color;
        font-family: $lead_title_font_stack, Helvetica, Arial, sans-serif;
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
        .lead-green {
            color: $green_primary_color;
        }
    }
    p.head-intro {
        color: $white_color;
        font-family: $lead_title_font_stack, Helvetica, Arial, sans-serif;
        position: absolute;
        top: 55%;
        width: 100%;
        text-align: center;
        font-size: 22px;
        .lead-green {
            color: $green_primary_color;
        }
    }
}


// 2nd floor
.floor-2 {
	// background-color: #fff;
	width: 100%;
	padding: 35px 0;
    margin: 30px 0 0 0;
    .bio-img img {
        min-height: 350px;
        max-height: 550px;
        float: right;
    }    
    .content {
        font-size: 15px;
        padding: 18px 25px 0px 0px;
        display: table-cell;
        p.bio-title {
            font-family: "montserratlight", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: $coklat_primary_color;
        }
        p.intro {
            font-family: 'vogamedium', Helvetica, Arial, sans-serif;
            font-size: 30px;
            color: $semi_black_primary_color;
            .brown {
                color: $coklat_primary_color;
            }
        }
    }
    .wraper-lead-title {
        display: table-cell;
        vertical-align: middle;
        width: 250px;
        text-align: center;
        .lead-title {
            font-family: $lead_title_font_stack, Helvetica, Arial, sans-serif;
            font-size: 45px;
            font-weight: 600;
            margin-bottom: 30px;
            position: relative;
            z-index: 1;
            padding: 0 20px;
            background-color: $green_body_primary_color;
            color: $semi_black_primary_color;
        }
        .line {
            position: absolute;
            top: 50%;
            margin-left: -24%;
            height: 2px;
            width: 30%;
            background-color: $coklat_primary_color;
            z-index: 0;
        }
    }
}

// 3rd floor
.floor-3 {
    width: 100%;
    padding: 35px 0;
    .wraper-lead-title {
        display: table-cell;
        // vertical-align: middle;
        width: 250px;
        // text-align: center;
        .lead-title {
            font-family: $lead_title_font_stack, Helvetica, Arial, sans-serif;
            font-size: 45px;
            font-weight: 600;
            margin-bottom: 30px;
            position: relative;
            z-index: 1;
            padding: 0 20px;
            background-color: $green_body_primary_color;
            color: $text_green_primary_color;
        }
        .line {
            position: absolute;
            top: 7%;
            margin-left: -34%;
            height: 2px;
            width: 42%;
            background-color: $soft_green_primary_color;
            z-index: 0;
        }
    }
    .portfolio-description {
        font-size: 15px;
        padding: 18px 25px 0px 0px;
        // display: table-cell;
        p.intro {
            font-family: 'vogamedium', Helvetica, Arial, sans-serif;
            font-size: 30px;
            color: $text_green_primary_color;
            .brown {
                color: $soft_green_primary_color;
            }
        }
    }
    
}

/* divider */
hr.divider {
    padding: 0;
    height: 2px;
    border: 0;
    width: 45px;
    margin: 0px;
}

/* fonts variable*/
@font-face {
    font-family: 'effra_lightregular';
    src: url('../fonts/effra_std_lt-webfont.eot');
    src: url('../fonts/effra_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/effra_std_lt-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_lt-webfont.woff') format('woff'),
         url('../fonts/effra_std_lt-webfont.ttf') format('truetype'),
         url('../fonts/effra_std_lt-webfont.svg#effra_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effra_mediumregular';
    src: url('../fonts/effra_std_md-webfont.eot');
    src: url('../fonts/effra_std_md-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/effra_std_md-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_md-webfont.woff') format('woff'),
         url('../fonts/effra_std_md-webfont.ttf') format('truetype'),
         url('../fonts/effra_std_md-webfont.svg#effra_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effrabold';
    src: url('../fonts/effra_std_bd-webfont.eot');
    src: url('../fonts/effra_std_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/effra_std_bd-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_bd-webfont.woff') format('woff'),
         url('../fonts/effra_std_bd-webfont.ttf') format('truetype'),
         url('../fonts/effra_std_bd-webfont.svg#effrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effrabold_italic';
    src: url('../fonts/effra_std_bdit-webfont.eot');
    src: url('../fonts/effra_std_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/effra_std_bdit-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_bdit-webfont.woff') format('woff'),
         url('../fonts/effra_std_bdit-webfont.ttf') format('truetype'),
         url('../fonts/effra_std_bdit-webfont.svg#effrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vogamedium';
    src: url('../fonts/voga-medium-webfont.eot');
    src: url('../fonts/voga-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/voga-medium-webfont.woff2') format('woff2'),
         url('../fonts/voga-medium-webfont.woff') format('woff'),
         url('../fonts/voga-medium-webfont.ttf') format('truetype'),
         url('../fonts/voga-medium-webfont.svg#vogamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* fonts variable*/