// @import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
@import "bootstrap";
@import "font-awesome";
@import "variables_style";

.floor-1 {
	#particles-js{
		width: 100%;
		/*height: 100%;*/
		background-color: $main_bg_color;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
    h1.home-lead {
        color: $white_color;
        font-family: $lead_title_font_stack, Helvetica, Arial, sans-serif;
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
        .lead-green {
            color: $green_primary_color;
        }
    }
    p.head-intro {
        color: $white_color;
        font-family: $lead_title_font_stack, Helvetica, Arial, sans-serif;
        position: absolute;
        top: 55%;
        width: 100%;
        text-align: center;
        font-size: 22px;
        .lead-green {
            color: $green_primary_color;
        }
    }
}

.floor-2 {
	background-color: #fff;
	width: 100%;
	padding: 35px 0;
    margin: 30px 0 0 0;
    .bio-img img {
        min-height: 350px;
        max-height: 550px;
        float: right;
    }
    .lead-title {
        font-family: $lead_title_font_stack, Helvetica, Arial, sans-serif;
		font-size: $lead_title_font_size;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        padding: 0 20px;
        background-color: #fff;
	}
    .line {
        position: absolute;
        left: 75%;
        top: 29px;
        margin-left: -80%;
        height: 2px;
        width: 38%;
        background-color: $black_primary_color;
        z-index: 0;
    }
    .content {
        margin: 25px -58px 0 -45px;
        font-size: 15px;
        background-color: #DAFDD5;
        padding: 14px 31px 33px 35px;
        max-width: 65%;
        p.bio-title {
            font-family: "montserratlight", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #666;
        }
        p.intro {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #666;
        }
    }
}

.floor-3 {
    background-color: $gossip_bg_color;
    width: 100%;
    padding: 35px 0;
    color: #fff;
    h2.lead-title {
        text-align: center;
        font-family: $lead_title_font_stack, Helvetica, Arial, sans-serif;
        font-size: $lead_title_font_size;
        margin-bottom: 30px;
    }
    .content {
        margin: 25px 0 0 0;
        font-size: 15px;
    }
}

/* divider */
hr.divider {
    padding: 0;
    height: 2px;
    border: 0;
    width: 45px;
    margin: 0px;
}

/* fonts variable*/
@font-face {
    font-family: 'effra_lightregular';
    src: url('../fonts/effra_std_lt-webfont.eot');
    src: url('../fonts/effra_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/effra_std_lt-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_lt-webfont.woff') format('woff'),
         url('../fonts/effra_std_lt-webfont.ttf') format('truetype'),
         url('../fonts/effra_std_lt-webfont.svg#effra_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effra_mediumregular';
    src: url('../fonts/effra_std_md-webfont.eot');
    src: url('../fonts/effra_std_md-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/effra_std_md-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_md-webfont.woff') format('woff'),
         url('../fonts/effra_std_md-webfont.ttf') format('truetype'),
         url('../fonts/effra_std_md-webfont.svg#effra_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effrabold';
    src: url('../fonts/effra_std_bd-webfont.eot');
    src: url('../fonts/effra_std_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/effra_std_bd-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_bd-webfont.woff') format('woff'),
         url('../fonts/effra_std_bd-webfont.ttf') format('truetype'),
         url('../fonts/effra_std_bd-webfont.svg#effrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effrabold_italic';
    src: url('../fonts/effra_std_bdit-webfont.eot');
    src: url('../fonts/effra_std_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/effra_std_bdit-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_bdit-webfont.woff') format('woff'),
         url('../fonts/effra_std_bdit-webfont.ttf') format('truetype'),
         url('../fonts/effra_std_bdit-webfont.svg#effrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* fonts variable*/